.grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.grid-row {
  display: flex;
}
.topbar {
  display: flex;
  justify-content: space-around;
}
.grid-container {
  margin-top: 10px;
}

.button {
  color: white;
  position: relative;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5em;
  background-color: rgb(77, 1, 153);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.active-btn {
  top: 2px;
  left: 1px;
  box-shadow: none;
  background-color: rgb(165, 9, 193);
  color: rgb(137, 228, 0);
}
