.node-root {
  height: 25px;
  width: 25px;
  margin: 0%;
  align-items: center;
  outline: 1px solid grey;
  text-align: center;
  font-weight: bolder;
}
.visited-node {
  background-color: blue;
}
.start-node {
  background-color: green;
}
.finish-node {
  background-color: red;
}
.path-node {
  background-color: yellow;
}
.wall-node {
  background-color: black;
}
